################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/calastone/.vs/calastone
/calastone/calastone/bin/Debug/net8.0
/calastone/calastone/obj/calastone.csproj.nuget.dgspec.json
/calastone/calastone/obj/calastone.csproj.nuget.g.props
/calastone/calastone/obj/project.assets.json
/calastone/calastone/obj/project.nuget.cache
/calastone/calastone/obj/Debug/net8.0/ref/calastone.dll
*.cs
/calastone/calastone/obj/Debug/net8.0/apphost.exe
/calastone/calastone/obj/Debug/net8.0/calastone.AssemblyInfo.cs
/calastone/calastone/obj/Debug/net8.0/calastone.AssemblyInfoInputs.cache
/calastone/calastone/obj/Debug/net8.0/calastone.assets.cache
/calastone/calastone/obj/Debug/net8.0/calastone.csproj.AssemblyReference.cache
/calastone/calastone/obj/Debug/net8.0/calastone.csproj.CoreCompileInputs.cache
/calastone/calastone/obj/Debug/net8.0/calastone.csproj.FileListAbsolute.txt
/calastone/calastone/obj/Debug/net8.0/calastone.dll
/calastone/calastone/obj/Debug/net8.0/calastone.GeneratedMSBuildEditorConfig.editorconfig
/calastone/calastone/obj/Debug/net8.0/calastone.genruntimeconfig.cache
/calastone/calastone/obj/Debug/net8.0/calastone.pdb
/calastone/calastone/obj/calastone.csproj.nuget.dgspec.json
/calastone/calastone/obj/calastone.csproj.nuget.g.props
/calastone/calastone/obj/Debug/net8.0/calastone.sourcelink.json
/calastone/calastone/obj/project.assets.json
/calastone/calastone/obj/project.nuget.cache
/calastone/calastone/obj/Debug/net8.0/refint/calastone.dll
/calastone/calastoneUnitTests/obj/calastoneUnitTests.csproj.nuget.dgspec.json
/calastone/calastoneUnitTests/obj/calastoneUnitTests.csproj.nuget.g.props
/calastone/calastoneUnitTests/obj/project.assets.json
/calastone/calastoneUnitTests/obj/project.nuget.cache
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.AssemblyInfo.cs
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.AssemblyInfoInputs.cache
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.assets.cache
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.csproj.AssemblyReference.cache
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.csproj.CoreCompileInputs.cache
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.csproj.FileListAbsolute.txt
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.dll
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.GeneratedMSBuildEditorConfig.editorconfig
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.genruntimeconfig.cache
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.pdb
/calastone/calastoneUnitTests/obj/Debug/net8.0/calastoneUnitTests.sourcelink.json
/calastone/calastoneUnitTests/obj/Debug/net8.0/ref/calastoneUnitTests.dll
/calastone/calastoneUnitTests/obj/Debug/net8.0/refint/calastoneUnitTests.dll
*.user
